body{
	font-family: 'Lucida Grande','Lucida Sans Unicode', Helvetica, Arial, sans-serif; 
	font-size: 1em;
	width: 100%;
	margin: 0 auto;
}

.wrapper{
	max-width: 1024px;
	width: 98%;
	margin: 0 auto;
}

.clear{
	clear: both;
}
.hidden{
	display: none;
}

.right{
	float: right;
	margin-right: 2%;
	margin-top: 4%;
}

.left{
	float: left;
}

h1 a{
	text-decoration: none;
	color: #333;
	
}

h1 a:hover{
	border: none;
	color: #777;
}

ol li{
	padding-bottom: 10px;
}

ul{
	padding: 0;
}

ul li{
	list-style-type: none;
}

form fieldset li label{
	font-size: 1.10em;
}

nav li a {
	text-decoration: none;
}

a:hover{
	border-bottom: 1px dashed;
}

hr { 
	border: solid #ddd; 
	border-width: 1px 0 0; 
	clear: both; 
	margin: 22px 0 21px; 
	height: 0; 
}

h4{
	font-weight: normal;
	font-size: 1.15em;
}

#signup-container{
	!background:rgba(29, 147, 193, 0.2);
	padding: 20px;
	margin: 0;
	margin: 0 auto;
	min-height: 600px;
}

#signup-wrapper{
	background:#384247;
	padding: 8px;
	max-width: 760px;
	width: 96%;
	border-radius: 5px;
	margin: 0 auto;

}

#signup-content{
	background-color: #fff;
	padding: 45px;
}

