include layout

Header 
    section#wrapper
      #header-container
        .row
          .nav-wrapper.twelve.columns
            
               Header 
            header.row
              nav.top-bar
                ul
                  li.name
                    h1
                      a#title(href='/') SmartClickr
                  li.toggle-topbar
                    a(href='#')
                section
                  ul.right
                    li
                      a#home.small(href='/') Home
                    li
                      a#features(href='/features') Features
                    li
                      a#signup(href='/signup') Sign Up
                    li
                      a#log.fancybox(href='/login') Log In
            
               End Header 
          
             End Nav-Wrapper 
          .clear
      
         End Header Container 
      
         Feature-Wrapper 
      #feature-container.pad
        #feature-wrapper.row
          
             Hero 
          #hero.twelve.columns
            #hero_content.twelve.columns
              h2.eight.columns Tagline and Lorem Ipsum
              a.button.large.three.columns(href='#') Create an Account
            p.twelve.columns
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          
             End Hero 
          #session_code.twelve.columns
            h3.three.columns Enter Session Code: 
            form#session
              fieldset.six.columns
                span
                  input#sessionCode.form-text(type='text', name='sessionCode', title='Session Code', placeholder='', autocomplete='off')
                  #clear.clear
              fieldset.form-action.three.columns
                input(type='submit', value='Submit')
        .clear
      
         End Hero 
    hr
    
       Main Content 
    #main_info.row.pad
      section#usage.twelve.columns
        #usage_main.six.columns
          h3 How it works:
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        #interactive.six.columns
          h3 Interactive Example
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    hr
    #info_container.row.pad
      #info.
        section#questions.six.columns
          h3 Question Types
          ol
            li
              a(href='#') Free Response Example
            li
              a(href='#') Multiple Choice Example
            li
              a(href='#') True/False Example
        section#interaction.six.columns
          h3 Audience Interaction
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        section#classrooms.six.columns
          h3 Use it in Your Classroom
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        section#conferences.six.columns
          h3 Perfect for Conferences
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        hr
      
         End Info 
    hr
    #mobile.row.pad
      section#mobile_usage.twelve.column.bottom_space
        h3 It works on mobile devices
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      
         End Mobile Usage 
    
       End Mobile 
    hr
    #bottom_signup.row.pad
      #bottom_signup_content.twelve.columns.bottom_space
        h3 Get started Sign up Stuff
      
         End Bottom Signup 
    hr
    
       Footer Content 
    footer
      #footer_content.row.pad
        #footer_content.twelve.columns
          ul.four.columns
            li
              a(href='#') Home
            li
              a(href='#') Features
            li
              a(href='#') Sample Questions
          ul.four.columns
            li
              a(href='#') About the Team
            li
              a(href='#') Blog
            li
              a(href='#') Contact
          ul.four.columns
            li
              a(href='#') Privacy
            li
              a(href='#') Terms of Service
      hr
      #legal.row.pad
        span
          | ©
          | SmartClickr Inc, All rights reserved
